<div role="listitem" class="service_item w-dyn-item">{{IMAGE}}<div class="service_container"><h5>{{TITLE}}</h5><div class="hordiv"></div><div class="service_description w-richtext">{{DESCRIPTION}}</div><div class="w-layout-vflex service_button_container"><a selection="yes" data-w-id="1771f19a-7a82-f226-5db5-9ec0bb1648ad" href="{{CONTACT_HREF}}" class="button_container w-inline-block"><div class="w-embed"><style>
/* change ".section_fractional-bdm" to the class name of your element */
/* change "blue" to the color you want */
/* change "var(--background-color--background-secondary) to the CSS color you want"  */
.button_midframe[color="white"]{ 
	border-color: white;
  color: white;
}
.variable[color="white"]{ 
	border-color: white;
}
.button_container[selection="no"]{ 
	pointer-events: none;
}
</style></div><div class="button_spacing_negative"></div><div color="" class="button_left variable"></div><div class="button_spacing"></div><div color="" class="button_midframe detail variable">Contacteer ons</div><div class="button_spacing"></div><div color="" class="button_right variable"></div><div class="button_spacing_negative"></div></a><a selection="yes" data-w-id="1771f19a-7a82-f226-5db5-9ec0bb1648ad" href="/" class="button_container w-inline-block"><div class="w-embed"><style>
/* change ".section_fractional-bdm" to the class name of your element */
/* change "blue" to the color you want */
/* change "var(--background-color--background-secondary) to the CSS color you want"  */
.button_midframe[color="white"]{ 
	border-color: white;
  color: white;
}
.variable[color="white"]{ 
	border-color: white;
}
.button_container[selection="no"]{ 
	pointer-events: none;
}
</style></div><div class="button_spacing_negative"></div><div color="" class="button_left variable"></div><div class="button_spacing"></div><div color="" class="button_midframe detail variable">Ontdek ons Werk</div><div class="button_spacing"></div><div color="" class="button_right variable"></div><div class="button_spacing_negative"></div></a></div></div></div>